.sidebar {
    background: linear-gradient(182.81deg, rgba(53, 46, 77, 0) -3.48%, #9F96EF -3.47%, #5F5888 98.43%);
    height: 100vh;
    padding-left: 1.4rem;

}
.names {
    padding-left: 0.7rem;
    padding-top: 1rem;
}
.img {
    height: 4rem;
    width: 4rem;
    background-color: #c4c4c4;
    border-radius: 4rem;
    margin-top: 1rem;
}
.grove {
    color: #fff;
    font-weight: 700;
    font-size: 17px
}
.yourname {
    color: #cecece;
    margin-top: -1.2rem;
}
.fillh {
    color: #fff;
}
.home {
    font-weight: 400;
font-size: 14px;
color: #fff;
margin-bottom: 1.5rem;
}
.logo {
    display: flex;
    margin-bottom: 2rem;
}
.direct {
    font-weight: 400;
font-size: 10px;
letter-spacing: 0.02em;

color: #E8E8E8;
}
.hrs {
    border: 0.5px solid #D0D0D0;
    width: 13rem;
    margin-right: 5rem;
}
.dashboard,.search, .add, .setting {
    font-weight: 400;
font-size: 13.5px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.dashboard :hover{
    background-color: rgba(233, 231, 255, 0.49);
}